<!-- <p>home works!</p>
<span>Name</span> -->
<!-- <input type="text" [formControl]="name"> -->
<form [formGroup]="profileForm">
    <br>
    <br>
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    <br>
    <br>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <br>
      <br>
      <label>
        Email:
        <input type="email" formControlName="email">
      </label>
      <br>
      <br>
      <label>
        Contact Number:
        <input type="number" formControlName="Contact">
      </label>
      <br>
      <br>
    <div formGroupName="address">
        <h3>Address</h3>
        <br>
        <br>
        <label>
          Street:
          <input type="text" formControlName="street">
        </label>
      <br>
      <br>
        <label>
          City:
          <input type="text" formControlName="city">
        </label>
        <br>
        <br> 
        <label>
          State:
          <input type="text" formControlName="state">
        </label>
        <br>
        <br>
        <label>
          Zip Code:
          <input type="text" formControlName="zip">
        </label>
      </div>
      <br>
      <br>
      <p>
        <button (click)="updateProfile()">Update Profile</button>
      </p>
  </form>
  